<div class="container">

  <form class="form-signin">



    <%= form_tag :action => 'create',method: 'post' do %>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="account" class="sr-only">账号</label>
        <input type="text" id="account" class="form-control" placeholder="账号" name="account">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

  <%end%>

  </form>

</div>